## Question 1

Chacterstics of Tuple

1. Tuples are ordered
2. Tuples are indexed
3. Tuples are immutable
4. Tuples allows duplicate values

## Question 2

count() and index() are two built-in tuple menthods.

Tuples are immutable where as lists are mutable so tuples have only two methods where as lists have multiple mehtods to support modification as well.

In [6]:
# count() example, which counts the number of time a particular item occurs in a tuple
t1 = (2,3,4,5,6,5,6)
t1.count(6)

2

In [8]:
# index() example, gives the first occurence index of an item in the tuple
t1.index(5)

3

## Question 3

Set doesn't allow duplicate items

In [11]:
# code to remove duplicates from a list using set
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s1 = set(List)
new_list = list(s1)
new_list

[1, 2, 3, 4]

## Question 4

Union will return a copy of the original set including the missing elements and there will be no change in the original set.
Update will update the original set in place and add the missing elements in the original set.

In [13]:
# Union example, union returned a new set with missing elements but didn't change the original set
s1 = {1,2,3}
s2 = {5,6,7}
print(s1.union(s2))
print(s1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3}

In [15]:
# Update example, update changed the original set in place
s1 = {1,2,3}
s2 = {5,6,7}
s1.update(s2)
print(s1)

{1, 2, 3, 5, 6, 7}

## Question 5 

Dictionary is a datatype which stores data in key,value pairs. They are ordered, mutable and don't allow duplciate values.

## Question 6

We can create nested dictionaries

In [22]:
# nested dictonaries example

dict1 = {'key1' : {'name' : 'Sam'}, 'key2' : {'name' : 'Ram'}}
dict1

{'key1': {'name': 'Sam'}, 'key2': {'name': 'Ram'}}

## Question 7

In [24]:
# topics key created using setdefault() method

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

dict1.setdefault('topics',['Python', 'Machine Learning', 'Deep Learning'] )

dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## Question 8

Three view objects in dictionaries are items, keys, values.

In [27]:
# Three view objects using built-in methods

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

print('Items:')
print(dict1.items())
print('Keys:')
print(dict1.keys())
print('Values:')
print(dict1.values())

Items:
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])
Keys:
dict_keys(['Sport', 'Teams'])
Values:
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])